body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
  align-items: center;
  justify-content: center;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ipod {
  width: 280px;
  height: 500px;
  border-radius: 30px;
  background-color: #d3d3d3;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(193, 193, 193, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  -webkit-box-reflect:below 1px linear-gradient(to bottom,rgba(0,0,0,0.3),rgba(0,0,0,0.3))
}

.control{
  color: grey;
  /* font-weight: 900; */
  position: absolute;
  cursor:default;
  font-size: larger;
}
#menu{
  left:35%;
  top:10%;
}
#forward{
  right:5%;
  top:43%;
}
#forward-pause{
  right:40%;
  bottom:8%;
}
#backward{
  left:5%;
  top:45%
}
.circle{
  width: 80px;
  height:80px;
  border-radius: 50%;
  background-color: grey;
  position: absolute;
  top:30%;
  right:30%;
}


/* Responsiveness */